.container {
    border: 1px solid #ccc;
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.HeaderContainer {
    display: flex;
    align-items: center;
    gap: 10px;
}

.Header {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 1px;
}

.InsuranceInfoContainer {
    align-items: center;
    margin-bottom: 20px;
}

.InfoTextContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.TextInfo {
    font-size: 1rem;
    color: #ff9a33;
}

.Text {
    font-size: 1rem;
    color: #000;
}

.ButtonContainer {
    display: flex;
    gap: 10px;
    padding-top: 15px;
}